.admin-table {
    width: 100%;
    position: relative;
}

/*.admin-table,*/ .admin-table-row, .admin-table-row th, .admin-table-row td {
    border-bottom: 1px solid #ddd;
}

.admin-table {
   /* border: 1px solid #ddd;*/
    vertical-align: middle;
    border-collapse: collapse;
}

.admin-table-row th {
    background-color: #333;
    color: white;
    text-align: left;
  }

.flex-container-admin {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-item-admin-aside {
    margin: 10px;
    width: 100%;
}

.flex-item-admin-section {
    margin: 10px 10px 0 10px;
    width: 100%;
}

.admin-table-row:nth-child(even){background-color: #f2f2f2}

/*.admin-table-row:hover {
    background-color: white;
}*/

.admin-table-row th, .admin-table-row td {
    padding: 10px;
}


@media only screen and (min-width: 768px) and (max-width: 1435px) { 
    .flex-item-admin-aside {
        margin: 10px;
        width: 30%;
    }
    
    .flex-item-admin-section {
        margin: 10px 0 0 0;
        width: 65%;
    }

}

@media only screen and (min-width: 1435px)  { 
    .flex-item-admin-aside {
        width: 30%;
    }
    
    .flex-item-admin-section {
        width: 50%;
    }

}