/* All table */
.table-for-teams {
    width: 100%;
    position: relative;
    vertical-align: middle;
    border-collapse: collapse;
}

/* Setting the bottom border to be white */
.table-for-teams, .table-for-teams-row td, .table-for-teams-row th {
    border-bottom: #ddd 1px solid;
}

/* Setting every other child of a row to be #f2f2f2 */
.table-for-teams-row:nth-child(even) {
    background-color: #f2f2f2
}

/* Headers */
.table-for-teams th {
    background-color: #333;
    color: white;
    padding: 10px;
}

.table-for-teams .double-colspan {
    text-align: left;
}

/* tbody */
.table-for-teams-row td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

/* setting up flex */

/* flex body */
.flex-container-teams {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
/* flex child s*/
.flex-item-renderTeams {
    margin: 10px;
    width: 100%;
}

/* Everything bigger than mobile view */
@media only screen and (min-width: 768px) { 

    .flex-container-teams {
        width: 100%;
    }

    .flex-item-leaderboard {
        width: 80%;
        height: 20vh;
        border-bottom: 1px solid black;
    }
    
    .flex-item-renderTeams {
        width: 400px;
    }

}