.form-card-account {
    margin: 0px;
    display: inline-block;
    margin-top: 10%;
    font-family: 'roboto', sans-serif;
    font-weight: 100;

}

.form-input-account {
    float: left;
}

.account-table {
    border-collapse: collapse;
    border: 1px solid white;
}

.account-table-row, .account-table-row th, .account-table-row td {
    border-bottom: 1px solid white;
    vertical-align: middle;
}


.account-table-row {
    background-color: #f2f2f2;
    color: black;
}


.account-table-row th {
    text-align: left;
    background-color: #333!important;
    color: white!important;
}

.admin-table-body {
    text-align: left;
}

.account-table-row th, .account-table-row td {
    padding: 15px;
    text-align: left;
}

.form-btn-want-team {
    width: 150px;
    height: 75px;
    font-size: 20px;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    color: white;
    border: 1px solid #222;
    background-color: #222;
    vertical-align: middle;
    text-align: center;
}

.form-btn-want-team:focus {
    outline: none;
}

.form-btn-want-team:hover {
    background-color: #444;
    border: 1px solid white;
}

.flex-container-account {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.profile-card-left {
    width: 100%;
    margin: 10px;
}
.account-team-btn-div {
    text-align: center;
    width: 100%;
}

.profile-card-banner {
    width: 100%
}


@media only screen and (min-width: 768px)  { 
    
    .flex-container-account {
        justify-content: center;
    }

    .profile-card-left {
        padding-top: 20px;
        width: 40%;
        margin: 0;
        align-self: center;
        display: flex;
        justify-content: center;
    }
    
    .account-team-btn-div {
        width: 40%;
        align-self: center;
    }
    
    .profile-card-banner    {
        background-image: url("./img/backlit-chiemsee-dawn-1363876.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 60vh;
        font-family: 'roboto', sans-serif;
        font-weight: 100;
        font-size: 50px;
        color: white;
        text-align: center;
    }

    .profile-card-banner-text {
    }

}