body {
    margin: 0px;
    padding: 0px;
}

.navigation {
    background-color: #111;
    color: white;
    position: relative;
}

.navigation > img {
    padding: 7px 16px;
    position: absolute;
    right: 10px;
    background-color: black;
}

.navigation > .img-movement {
    top: 100px;
}


.navigation > .ul-transform {
    transform: translate3d(0, 0, 0);
}

.navigation > ul {
    text-decoration: none;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    transform: translate3d(-100vw, 0, 0)                
}


li .link {
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

li .link:hover {
    background-color: #333;
}

.btn-signout {
    background-color: transparent;
    color: orange;
    text-decoration: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    width: 100%;
    height: 100%;

}

 @media only screen and (min-width: 768px)  {

    li .link {
        float: left;
        height: 100%;
    }

    .right-float {
        float: right!important;
    }

    .navigation > img {
        display: none;
    }
    
    .navigation > ul {
        position: initial;
        transform: translate3d(0, 0, 0);
    }
 }