body {
    margin: 0px;
    padding: 0px;
    padding-top: 50px;
}

.navigation {
    background-color: #222;
    color: white;
    position: relative;
}

.mobile-nav {
    background-color: #222;
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    margin: 0px;
    height: 50px;
    z-index: 99;
  }

.navigation > ul {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    width: 100%;
    text-decoration: none;
    list-style-type: none;
}


li .link {
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

li .link:hover {
    background-color: #111;
}

.btn-signout {
    background-color: transparent;
    color: orange!important;
    text-decoration: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    width: 100px;
    height: 100%!important;

}

 @media only screen and (min-width: 768px)  {

    li .link {
        float: left;
        height: 100%;
    }

    body {
        padding-top: 0px;
    }

    .right-float {
        float: right!important;
    }

    .navigation > img {
        display: none;
    }
    
    .navigation > ul {
        position: initial;
        transform: translate3d(0, 0, 0);
    }
 }