.background-image-behind-card {
    background-image: url("./img/beerCarrier.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    height: auto;
    width: 100%;
    margin: 0px;
    position: inherit;
    overflow: auto;
}

body {
    font-family: 'roboto', sans-serif;
}

.main-title {
    font-weight: 300;
    font-size: 110px;
    color: white;
    width: 55%;
    height: 30%;
    text-align: left;
    align-self: flex-start;
    margin: 0px 0 30px 0;
    word-wrap: break-word;
}

.title-color {
    color: #F3C677;
}

.main-title:nth-of-type(2) {
    position: relative;
    height: auto;
}

.main-title::first-line {
    color: #F9564F;
}


.home-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    color: white;
    min-height: 100vh;
    height: auto;
    background-color: rgba(12, 10, 62, 0.7);
}

.countdown {
    position: absolute;
    right: 25px;
    top: 5%;
    text-align: center;
}

.timer-title {
    font-size: 100px;
    font-weight: 200;
    margin: 10px;
}

.timer-title div {
    font-size: 30px;
    font-weight: 300;
}

.card-text {
    width: 90%;
    position: absolute;
    top: 6%;
    left: 25px;
    min-height: 100vh;
    height: auto;
}

.info-splitter {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 10%;
    width: 50%;
    color: white;
}

.info-splitter.isScrolling {
    position: relative;
    top: -5%;
    height: 20%;
}

.home-flex-container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
    background-color: #f2f2f2;
    justify-content: center;
}

.games {
    width: 100%;
    height: 400px;
}

.games-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 60%;
}

.games-text {
    width: 60%
}

.games-title {
    width: 60%;
    font-weight: 300;
    font-size: 30px;
    height: auto;
}



@media screen and (min-width: 678px) and (max-width: 1450px) {

    .card-text {
        width: 50%;
        align-self: center;
        height: 33%;
    }

    .flex-container {
        height: 100%;
        width: 100%;
    }

    .flex-item {
        width: 500px;
    }

    .icon-place {
        position: absolute;
        transform: translate(-445px, 0px);
        text-align: center;
        width: 500px;
        height: 50px;
        left: 0;
        top: 150px;
        padding-top: 15px;
        font-size: 35px;
        padding-right: 20px;
    }
    
    .icon-font-size {
        font-size: 35px;
        float: right;
    }
    
    .icon-place:hover {
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
        transform: translate(0px, 0px);
        background-color: rgba(11,11,11,0.5);
        color: white;
        padding-left: 20px;
        padding-top: 15px;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
    
    }
    
    .icon-event {
        position: absolute;
        transform: translate(-445px, 0px);
        text-align: center;
        width: 500px;
        height: 50px;
        left: 0;
        top: 350px;
        padding-top: 15px;
        font-size: 35px;
        padding-right: 20px;
    }
    
    .icon-event:hover {
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
        transform: translate(0px, 0px);
        background-color: rgba(11,11,11,0.5);
        color: white;
        padding-left: 20px;
        padding-top: 15px;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
    
    }

}

@media screen and (min-width: 1450px) {

    .card-text {
        width: 40%;
        align-self: center;
        height: 37%;
    }

    .icon-place {
        position: absolute;
        transform: translate(-445px, 0px);
        text-align: center;
        width: 500px;
        height: 50px;
        left: 0;
        top: 150px;
        padding-top: 15px;
        font-size: 35px;
        padding-right: 20px;
    }
    
    .icon-font-size {
        font-size: 35px;
        float: right;
    }
    
    .icon-place:hover {
        transition-duration: 0.6s;
        transition-timing-function: ease-in-out;
        transform: translate(0px, 0px);
        background-color: rgba(11,11,11,0.5);
        color: white;
        padding-left: 20px;
        padding-top: 15px;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
    
    }
    
    .icon-event {
        position: absolute;
        transform: translate(-445px, 0px);
        text-align: center;
        width: 500px;
        height: 50px;
        left: 0;
        top: 350px;
        padding-top: 15px;
        font-size: 35px;
        padding-right: 20px;
    }
    
    .icon-event:hover {
        transition-duration: 0.6s;
        transition-timing-function: ease-in-out;
        transform: translate(0px, 0px);
        background-color: rgba(11,11,11,0.5);
        color: white;
        padding-left: 20px;
        padding-top: 15px;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
    
    }
    
}
