.teamlead-header {
    color: #F9564F;
}

.teamlead-header-text {
    color: white;
}

.flex-item-leaders-header {
    width: 100%;
    height: 30vh;
    background-image: url('../Account/img/backlit-chiemsee-dawn-1363876.jpg');
    background-size: cover;
    text-align: center;
}

.flex-leaders {
    display: flex;
}
 .leaders {
    
 }

 .leaders img {
     background-color: gray;
     max-height: 300px;
     max-width: 300px;
 }
